.santi {

    font-family: 'Neue Haas Grotesk Bold';
    margin-bottom: 1vmax;
    font-size: 2.5vmax;
    margin-top: 7vmax;

}

.founder-container img {
    width: 20vmax;
    border-radius: 50%;
    border: transparent;
    margin-right: 5vmax;
}

.founder-container {
    display: flex;
    flex-direction: row;
}