.santi {

    font-family: 'Neue Haas Grotesk Bold';
    margin-bottom: 1vmax;
    font-size: 2.5vmax;
    margin-top: 7vmax;

}

.founder-container img {
    width: 20vmax;
    border-radius: 50%;
    border: transparent;
    margin-right: 5vmax;
    margin-left: 2vmax;
}

.founder-container {
    display: flex;
    flex-direction: row;
}

.meet-the-founder {
    width: 90%;
}

.bio {
    font-size: 1.25vmax;
    line-height: 2vmax;
}