
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('fonts2/NeueHaasDisplay-Light_1.eot');
    src: url('fonts2/NeueHaasDisplay-Light_1.eot?#iefix') format('embedded-opentype'),
        url('fonts2/NeueHaasDisplay-Light_1.woff2') format('woff2'),
        url('fonts2/NeueHaasDisplay-Light_1.woff') format('woff'),
        url('fonts2/NeueHaasDisplay-Light_1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Haas Grotesk Bold';
    src: url('fonts2/NeueHaasDisplay-Bold.eot');
    src: url('fonts2/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts2/NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('fonts2/NeueHaasDisplay-Bold.woff') format('woff'),
        url('fonts2/NeueHaasDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Neue Haas Grotesk Display Pro';
    background-color: #ffffff;
    color: #0803B0;
    margin: 0;
    margin-left: 2vmax;
    margin-right: 2vmax;
    margin-top: -1vmax;
    height: 100vh;
}

/*@media(prefers-reduced-motion){*/
.hidden {
    opacity: 0;
    transition: all 1s;
    /*filter: blur(0.5rem);
    transform: translateX(-100%);*/

}
.show {
    opacity: 1;
    /*filter: blur(0);
    transform: translateX(0);*/
}

/*}*/

.image .hidden {
    opacity: 0;
    filter: blur(5rem);
    transform: translateX(-100%);
    transition: all 1s;

}
.image .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.image:nth-child(2){
    transition-delay: 200ms;
}
.image:nth-child(3){
    transition-delay: 400ms;
}
.image:nth-child(4){
    transition-delay: 600ms;
}


header img {
    width: 12vmax;
    height: auto;
    margin-left: -1rem;
    padding-top: -2rem;
}

header {
    display: flex;
    align-items: top;
    height: auto;
    position: relative;
    margin-top: -0.5rem;
}


.banner_1 {
    display: block;
    position:relative;
    padding: 0rem 0;
    justify-content: center;
    height: 100vh;
    
}

.heading {

    font-family: 'Neue Haas Grotesk Bold';
    margin-bottom: 1vmax;
    font-size: 2.5vmax;
    margin-top: 7vmax;

}

.title { 
    font-size: 15vmax;
    width: 100%;
    margin-top: 2.5vmax;
    font-family: 'Neue Haas Grotesk Bold';
    text-align: center;

}

section p {
    max-width: 85%;
    font-size: 2.25vmax;
    line-height: 3vmax;
    margin-top: 1vmax;
}

.section-container {
    width: 100%;
}

.about {

    height: fit-content;
}


.images-container {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 8vmax;
    padding-bottom: 0;
}

.images-container img {
    width: 16vmax;
    padding-right: 3vmax;
    padding-top: 3vmax;
}

footer {
    position: relative;
    display: flex;
    height: 5vmax;
    align-items: center;
   
    padding-top: 10vmax;
    
}

footer p {
    width: 50%;
    font-size: 1.25vmax;
}


.menu-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2vmax;
}

.menu-bar {
    display: inline-block;
    cursor: pointer;
    padding-top: 3.5vmax;
    z-index: 1000;
    position: absolute;
  }
  
  .bar1, .bar2, .bar3 {
    width: 2.5vmax;
    height: 0.35vmax;
    background-color: #0803B0;
    margin: 0.35vmax 2vmax 0 0;
    transition: 0.4s;
    
  }
  
  .change .bar1 {
    transform: translate(0, 0.7vmax) rotate(-45deg);
    background-color: #fff;
  }
  
  .change .bar2 {
    opacity: 0;
    background-color: #fff;
}
  
  
  .change .bar3 {
    transform: translate(0, -0.7vmax) rotate(45deg);
    background-color: #fff;
  }

  

  /* icons*/

  .social-list {
    list-style-type: none;
  }

  .social-list-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }


  /*.social-list path {
    cursor: pointer;
    
  }*/


  .social-list svg {
    margin-right: 2vmax;
  }

